<html>
    <title>Calculater</title>
    <body>
        <h1>Calculater</h1>
        <form method="POST">
        {% csrf_token %}
        x = <input name="num_x" id="num_x"  /><br>
        <select name="op" id="op">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
          </select><br>
        y = <input name="num_y" id="num_y"/>
        <br><button id="calculater_button" type="submit" class="btn btn-success">Calculater</button>
        </form>
        result = {{result}}
        <br>
        {% for history in showhistory %}
        <tb>
            <tr>{{history.number1}}</tr>
            <tr>{{history.operater}}</tr>
            <tr>{{history.number2}} = </tr>
            <tr>{{history.result}}</tr>
        </tb>
            <br>
        {% endfor %}
    </body>
</html>